.content{
    padding: 10px;
}

.container-login{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 420px;    
    margin: 20px auto;
    padding: 25px 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: var(--colorTexto2);
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
}

.titulo-parrafo{
    text-align: center;

    h1{
        font-size: 1.6rem;
        font-weight: bold;
    }

    p{
        font-size: 0.8rem;
    }
}



.label-input{
    display: flex;
    flex-direction: column;
    gap: 4px;
    
    
    label{
        font-size: 0.9rem;
        font-weight: 550;
    }
    
    input{
        padding: 8px 10px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        font-family: var(--muted);
        font-size: .85rem;

        &::placeholder{
            font-size: .8rem;
        }

        &:focus{
            outline: 2px solid var(--fondoBotones);
        }
    }

    span{
        margin-top: 2.5px;
        font-size: 0.7rem;
        color: red;
    }

    .noVisible{
        opacity: 0;
    }

    .visible{
        opacity: 1;
    }
}

.recordarme, .mostrar-passwd{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    
    label{
        font-size: 0.75rem;
        font-weight: 500;
    }
}

.enviar{
    width: 100%;
    margin: 10px 0;
    padding: 9px 0;
    border-radius: 5px;
    border: none;
    background-color: var(--muted);
    color: var(--primary);
    font-size: 0.8rem;
    font-weight: 500;
}


.registrate, .volver-inicio{
    padding: 5px 0;
    font-size: 0.8rem;
    text-align: center;
    color: var(--colorTexto);

        strong{
            font-weight: 500;
            color: var(--muted);
        }

        i{
            margin-right: 3px;
        }
}


.registrate{
    margin-top: 15px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    
    a{
        width: 100%;
        padding: 7px 12px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        color: var(--colorTexto);
        background-color: #fff;
        font-size: 0.8rem;
        font-weight: 500;
        text-align: center;

        i{
            color: var(--colorTexto);
            margin-right: 2.5px;
        }
    }
}

