.snacksMain{
    background-color: #11182a;
}


.resumenReservaContainer{
    flex-grow: 1;
    width: 400px;
    max-width: 700px;
    border: 1px solid rgb(202, 212, 220, 0.3);
    border-radius: 5px;
}

.resumenReservaContainer hr{
    height: 2px;
}

.resumenReserva .continuar{
    width: 100%;
    margin-top: 7.5px;
    padding: 7.5px 0;
    border-radius: 5px;
    background-color: #f59f0a;
    font-weight: bold;
    font-size: 0.8rem;
}